@import '~office-ui-fabric-react/dist/sass/References.scss';

// * {
//   box-sizing: border-box;
//   font-family: "Helvetica Neue";
//   font-style: normal;
// }

p, h1, h2, h3, h4, h5, h6{ 
  margin: 0;
  padding: 0;
}

.noticiasDestacado {
  .container {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
    // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    // background-color: $ms-color-themeDark;
    // padding: 20px;
    padding: 2em;
    padding-bottom: 1em;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
    font-family: 'Helvetica Neue';
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
    font-family: 'Helvetica Neue';
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
    font-family: 'Futura Std';
  }
  
  .sectionDestacado {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    @media (max-width: 480px) {
      .contentText { width: 100%; }
    }

    .titleSection_featured {
      max-width: 450px;
      width: 100%;
      position: relative;
      margin: 5em auto 0;
      h2 {
        padding-left: 1em;
        color: rgba(0, 0, 0, 1);
        font-family: Helvetica Neue;
        font-size: 30px;
        font-weight: lighter;
        text-transform: uppercase;
        &:before {
          content: '';
          width: 40px;
          height: 40px;
          background-image: url(http://aremlab.com/media/colsubsidio/institucional/news/news_title_path.svg);
          background-repeat: no-repeat;
          position: absolute;
          top: -10px;
          left: 0;
          z-index: 1;
        }
      }
    }

    .subTitle {
      font-family: 'Futura Std' !important;
      font-style: normal;
      font-weight: bold;
      font-size: 23px;
      letter-spacing: -0.015em;
      color: #000000;
      padding: 1rem 0;
    }
    .contentText {
      font-family: 'Futura Std' !important;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: -0.015em;
      color: #666666;
      width: 80%;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
    .secondaryButton {
      border: solid 1px #071D66;
      border-radius: 6px;
      color: #071D66;
      padding: 1em 3em;
      font-family: 'Futura Std';
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      align-items: center;
      margin-top: 1em;
      text-align: center;
      transition: all .5s;
      width: 50%;
      cursor:pointer;
      background: #fff;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        border: solid 1px #071D66;
        background: #071D66;
        color: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
      }
    }

    &__featured {
      // margin: 3em 0;
      padding: 3em 0;
      position: relative;
      // display: flex;
      // justify-content: flex-end;
      // overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      flex-grow: 0;
      flex-shrink: 1;
      @media (max-width: 800px){
        flex-basis: calc(1280px / 2);
        max-width: calc(1280px / 2);
        flex-direction: column;
        flex-direction: column-reverse;
      }
  
      &__content {
        font-family: 'Futura Std';
        padding: 3em;
        background: #FFFFFF;
        box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        height: 400px;
        padding-left: 350px; 
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // @media (min-width: 1080px){
        //   padding-left: 0; 
        //   width: 30vw;
        //   padding: 1em;
        // }
        @media (max-width: 800px){
          padding-left: 0; 
          width: 100%;
          padding: 1em;
          height: 250px;
        }
      }
      &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        width: 550px;
        height: 350px;
        left: 50px;
        @media (max-width: 1024px){
          position: absolute;
          width: 50%;
          height: auto;
          left: 0;
          // height: 250px;
          img {
            position: relative;
          }
        }
        @media (max-width: 800px){
          position: relative;
          width: 100%;
          left: 0;
          // height: 250px;
          img {
            position: relative;
          }
        }
        img {
          width: 100%;
        }
      }
    }

    .sectionContent {
      background: #FFFFFF;
      box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      width: 80%;
      padding: 5em 0 5em 23%;
      box-sizing: border-box;
      
      .titleHighligth h1, h2, h3, h4{
        font-family: 'Futura Std';
        font-weight: bold;
        color: rgba(0, 0, 0, 1); 
        padding: 2rem;
      }
      .titleHighligth p{
        font-family: 'Futura Std';
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 30px;
        color: #333;
      }
      .buttonMore {
        color: #162B70;
        border: solid 1px #162B70;
        background-color: #ffffff;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 1.15em 2em;
        text-decoration: none;
        margin-left: 10px;
        font-family: 'Futura Std';
      }
      .buttonMore:hover {
        transition: all .7s;
        color: #ffffff;
        border:solid 1px #162B70;
        background-color: #162B70;
      }
    }
    img {
      height: 250px;
      left: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;

    }

  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: 'Futura Std';
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-family: 'Futura Std';
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
